<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>BOSS直聘岗位分析可视化</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename = 'img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/mystyle.css') }}">
    <script src="{{ url_for('static', filename = 'js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'highcharts/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename = 'highcharts/highcharts-more.js') }}"></script>
    <!-- <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script> -->
    <script src="{{ url_for('static', filename = 'highcharts/oldie.js') }}"></script>
    <script src="{{ url_for('static', filename = 'highcharts/wordcloud.js') }}"></script>
    <script src="{{ url_for('static', filename = 'highcharts/dark-unica.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/welfare.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/region.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/province.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/industry.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/min_salary.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/sub_category.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/city.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/education.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/finance.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/top10order.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/field_order.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/fullscreen.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/read_config.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/get_all_num.js') }}"></script>
</head>
<body>
<div class="index">
    <div class="title">
        <p>BOSS直聘 互联网/AI 岗位分析可视化 <span id="version"></span></p>
    </div>
    <div id="config-info">
        <p>数据日期: <span id="get_time"></span></p>
        <p>数据数量: <span id="get_all_num"></span></p>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modal-body"></div>
        </div>
    </div>
    <div class="paint_area">

        <div class="data_frame_inline">
            <!-- 企业类型 -->
            <div class="data_frame_single fullscreen_able" id="tab1">
                <div id="industry"></div>
            </div>
            <!-- 学历 -->
            <div class="data_frame_single fullscreen_able" id="tab2">
                <div id="education"><p class="chart-title">学历占比</p></div>
            </div>
        </div>

        <div class="data_frame_inline">
            <!-- 城市岗位分布 -->
            <div class="data_frame_single fullscreen_able" id="tab3">
                <div id="city"></div>
            </div>
            <!-- 企业福利 -->
            <div class="data_frame_single fullscreen_able" id="tab4">
                <div id="welfare"></div>
            </div>
        </div>

        <div class="data_frame_inline">
            <!-- 企业招聘Top 10 -->
            <div class="data_frame_single fullscreen_able" id="tab5">
                <div id="top10order">
                    <p class="chart-title">企业招聘Top</p>
                    <table>
                        <thead>
                        <tr>
                            <th>排名</th>
                            <th>公司名称</th>
                            <th>岗位数量</th>
                        </tr>
                        </thead>
                        <tbody id="J_TbData"></tbody>
                    </table>
                </div>
            </div>
            <!-- 省份岗位分布 -->
            <div class="data_frame_single fullscreen_able" id="tab6">
                <div id="province"></div>
            </div>
            <!-- 区域岗位数量 -->
            <div class="data_frame_single fullscreen_able" id="tab7">
                <div id="region"></div>
            </div>
        </div>

        <div class="data_frame_inline">
            <!-- 开发方向分布 -->
            <div class="data_frame_single fullscreen_able" id="tab8">
                <div id="sub_category"></div>
            </div>
            <!-- 领域Top -->
            <div class="data_frame_single fullscreen_able" id="tab9">
                <div id="field_order">
                    <p class="chart-title">领域Top</p>
                    <table>
                        <thead>
                        <tr>
                            <th>排名</th>
                            <th>领域</th>
                            <th>岗位数量</th>
                        </tr>
                        </thead>
                        <tbody id="J_TbData_field"></tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>

        <div class="data_frame_inline">
            <!-- 企业金融 -->
            <div class="data_frame_single fullscreen_able" id="tab10">
                <div id="finance"><p class="chart-title">金融占比</p></div>
            </div>
            <!-- 最低薪资分布 -->
            <div class="data_frame_single fullscreen_able" id="tab11">
                <div id="min_salary"></div>
            </div>
        </div>

    </div>
</div>
</div>
</body>
</html>